[Unit]
Description=IoMBian Bluetooth Configurator
After=bluetooth.target
Requires=bluetooth.target
After=sys-subsystem-bluetooth-devices-hci0.device
Requires=sys-subsystem-bluetooth-devices-hci0.device

[Service]
Type=simple
User=root
Restart=always
RestartSec=5
ExecStartPre=/bin/sleep 5
TimeoutStopSec=5

WorkingDirectory=/opt/iombian-bluetooth-configurator
ExecStart=/opt/iombian-bluetooth-configurator/venv/bin/python /opt/iombian-bluetooth-configurator/main.py

[Install]
WantedBy=multi-user.target